
/*
body{ background: linear-gradient(to bottom right,#403F44, #1E1B32);
}
*/
:root{
    --rojo:#e50914;
    --blanco:#fff;
    --gris:#303030;
    --gris-f:#757575;
    --negro:#000;
    --tipo-titular:'PT Serif', serif;
    --tipo-principal:'Nunito', sans-serif;
}

.header{
    width:100%;
    min-height:5rem;

    padding:1em 2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    display: none;
}
.header .h1{}
.header .h1 .a{}
.header .nav{}
.header .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    aling-items: center;
}
.header .li{
    margin:0 1em;
}
.header .li .a{}

.main{
    background:#757575 ;
    margin: 0 0 1em;
    text-align: center;
}
.section{
    width:100%;
    min-height: 80vh;
    background: #lightblue;
    margin:  1em 0; 
    padding: 2em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.section .info{
    font-size: 1.2em;
}
.section .circulos{}
.section .circulo{}
.section .ul{
    /* background: red; */
    margin: 2em 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.section .ul .li{
    /* background: lime; */
    margin: 0 1em;
}
.section .ul .a{
    border: 1px solid rgba(0, 0, 0,.4);
    border-radius: 50%;
    padding: 1em 1em 1em;
    text-transform: uppercase;
    font-weight: 600;
}
.section .ul .a:hover{ 
    border-color: black;

}

.section .h2{
    font-family: var(--tipo-titular);
    font-weight: 600;
    font-size: 5em;
    line-height:1em;
}
.section .h3{
    font-family: var(--tipo-titular);
    font-size: 2em;
    /* font-style: italic; */
}
.section .p{}
.section .grid{
    width: 90%;
    max-width: 40em;
    margin: 1em 0;
  
    display: grid;
    grid-template-columns: repeat( auto-fit , minmax( 15rem , 1fr) );
    gap:1em;
}
.section .article{
    width: 100%;
  min-height: 20vh;
  background: lightgoldenrodyellow;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  border-radius: 1em;
}
.section .a{}
.section .figure{
    width: 100%;
    background: #e50914;
}
.section .img{
    width: 100%;
    background: lime;
}
.section .h4{
    width:100%;
    height: 100%;
    background-color: var(--negro-5);
    backdrop-filter: blur(1rem);
    position: absolute;
    bottom:0;
    left:0;
    
    display: flex;
    flex-flow: row wrap ;
    justify-content: center;
    align-items: center;
    
    color:var(--blanco);
    font-size: 1.8em;
    font-family: var(--tipo-titular);
    font-style: italic;
    opacity: 0;
    transform:translateZ(1) scale(1.5);
    transition: all .5s ease;
}´
.section .article:hover .h4{
    opacity: 1;
    transform:translateZ(1) scale(1);
}
.section .h2{}

.works{
    color:var(--blanco);
  }
.works .h2{
    margin: 0 0 1rem;
    color:inherit;
}

.about{}
.about .h2{
    margin:  0 0 1em;
}
.about .p{
    max-width: 40em;
    background: lime;
    margin: 0 0 lem;
    text-align: left;
}
.about .rrss{
    width: 100%;
    background: lightgreen;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.about .li{
    background: orange;
    margin: 0 1em;
}
.about .a{}
.about .svg{
    width:3em;
    height:3em;
}


.footer{
    /* background: lightpink; */
    padding:  2e 0;
    text-align: center;
}
.footer .span{}





ps://www.freepik.es/fotos/freelance'>Foto de freelance creado por wayhomestudio - www.freepik.es</a><a href='htt

<a href='https://www.freepik.es/fotos/escritorio-trabajo'>Foto de escritorio trabajo creado por wayhomestudio - www.freepik.es</a>